.App {
  font-family: "Gill Sans", sans-serif;
}

.layout {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.header {
  grid-row: 1 / 3;
  font-size: 100px;
  text-align: center;
}

.view {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-row: 3 / 3;
}

.add {
  grid-row: 1 / 3;
}

.list {
  grid-row: 3 / 3;
  margin-left: 25%;
  margin-top: 50px;
  margin-bottom: 100px;
}

form {
  display: table;
  margin-top: 30px;
  margin-left: 40%;
  font-size: large;
}
p {
  display: table-row;
}

label {
  display: table-cell;
}

input {
  display: table-cell;
  width: 150%;
}

.list-row {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.list-row-cell {
  display: table-row;
  float: left;
  text-align: center;
  border: 3px solid black;
}

.name {
  width: 300px;
}

.address {
  width: 300px;
}

.state {
  width: 65px;
}
.zip {
  width: 100px;
}

.age {
  width: 65px;
}

